
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
body{
	font-family: 'Raleway', sans-serif;
}

#main{
	margin: 0 50px 50px;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

h2{
	font-weight: 700;
}

.flex{
	display: flex;
}

header{
	justify-content: space-between;
	margin-bottom: 35px;
}

.logo{
	margin-top: 30px;
	flex: 1;
}

nav li{
	padding-top: 40px;
}

nav a{
	padding: 40px 30px 0;
}

.signUp{
	color: #0065FC;
	font-weight: 700;
	padding: 40px 40px 0;
}

nav li a.hotel{
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 38px;
    transition-duration: 0.1s;
}



.search{
	margin-bottom: 30px;
}

.search h2{
	margin-bottom: 10px;
}

.search p{
	margin-top: 10px;
}

.searchBar{
	margin-bottom: 30px;
	height: 50px;
}

.containerMarker{
	background-color: #f2f2f2;
	border-radius: 15px 0 0 15px;
	width: 50px;
	flex-shrink: 0;
}

.containerMarker i{
	margin: auto;
	font-size: 1.2rem;
}

.searchInput{
	border: 1px solid #f2f2f2;
	padding: 0 0 0 15px;
	font-size: 1.1rem;
	width: 230px;
}

.searchInput::placeholder{
	color: black;
}

.searchButton{
	width: 130px;
	background-color: #0065FC;
	border: none;
	padding: 0;
	border-radius: 0 15px 15px 0;
	color: blanchedalmond;
}

.searchButton i{
	display: none;
}

.searchButton:hover{
	background-color: #DEEBFF;
	color: black;
}

.textFilter{
	align-self: center;
}

.filters{
	flex-wrap: wrap;
	font-weight: 700;
	font-size: 1.1rem;
	margin-bottom: 30px;
}

.filter{
	align-items: center;
	height: 46px;
	border: 2px solid #F2F2F2;
	border-left: none;
	margin-left: 20px;
	padding-right: 20px;
	border-radius: 25px;
}

.filter span{
	padding-left: 12px;
}

.filter:hover{
	cursor: pointer;
	border-color: #0065FC;
	color: #0065FC;
}

.filterList{
	flex-wrap: wrap;
}

.iconFilter{
	position: relative;
	right: 1px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #DEEBFF;
}

.iconFilter i{
	margin: auto;
	color: #0065FC;
}

.iconInfo{
	height: 20px;
	width: 20px;
	border: 1px solid #F2F2F2;
	border-radius: 1rem;
	margin-right: 10px;
}

.iconInfo i{
	margin: auto;
	font-size: .9rem;
	color: #0065FC;
}

.hotels, .populaire{
	background-color: #f2f2f2;
	border-radius: 20px;
	padding: 40px;
}

.hotels{
	flex: 2;
}

.hotels > h2{
	margin: 0;
}

.Tabhotels{
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	gap: 30px;
	margin: 30px 0 50px;
}

.cadrehotel{
	display: grid;
	height: 220px;
	grid-template-rows: 1fr 40%;
	box-sizing: border-box;
	border: 5px solid #fff;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 0 7px #c1c1c1;
}

.cadrehotel:hover{
	transform: scale(1.01);
}

.cadrehotel img{
	width: 100%;
	height: 126px;
	object-fit: cover;
}

.Descriptionhotel{
	flex-direction: column;
	justify-content: space-around;
	background-color: #fff;
	padding: 5px 10px;
}

.Descriptionhotel p{
	margin: 0;
}

.etoilehotel{
	word-spacing: -1ch;
}

.fa-star{
	font-size: .8rem;
	letter-spacing: 2px;
}

.blueStar{
	color: #0065FC;
}

.greyStar{
	color: #f2f2f2;
}

.voirPlus{
	font-weight: 700;
	font-size: 1.2rem;
}
.populaire{
	flex: 1;
	margin-left: 3%;
}

.iconePopulaire{
	justify-content: space-between;
	align-items: baseline;
}

.iconePopulaire h2{
	margin-top: 0;
	margin-bottom: 25px;
}

.iconePopulaire i{
	font-size: 1.5rem;
}

.cadrePopulaire{
	height: 160px;
	border: 5px solid #fff;
	border-radius: 15px;
	margin-bottom: 30px;
	box-shadow: 0 0 7px #c1c1c1;
	box-sizing: border-box;
	overflow: hidden;
}

.cadrePopulaire img{
	width: 40%;
	height: 100%;
	object-fit: cover;
}

.descriptionPopulaire{
	flex: 1;
	background-color: #F2F2F2;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}

.Nomhotel{
	margin: 0;
	font-weight: 700;
	font-size: 1.1rem;
}

.descriptionPopulaire .Nomhotel + p{
	margin-top: 8px;
	margin-bottom: 0;
}

.whiteStar{
	color: #fff;
}

.activity {
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    margin-bottom: 3rem;
}
.activityTitle {
    grid-column: 1/-1;
  }
.activityCard {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
}
.activityCard:hover {
    transform: scale(1.01);
}
.activityCardWrapimg {
    position: relative;
    flex: 1;
}
.activityCardWrapimgImg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.activityCardTitle {
    margin: 1.2rem 1.5rem;
}

.activityCard1 {
    grid-row: 2/7;
    grid-column: 1/2;
}
.activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
}
.activityCard3 {
    grid-column: 3/4;
    grid-row: 2/7;
}
.activityCard4 {
    grid-column: 4/5;
    grid-row: 2/3;
}
.activityCard5 {
    grid-column: 2/3;
    grid-row: 6/7;
}
.activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
}
  
footer{
	padding: 40px 50px 50px;
	background-color: #f2f2f2;
}

footer div{
	flex: 1;
}

footer li{
	margin-bottom: 15px;
}

footer a:hover{
	font-weight: 600;
	color: #0065FC;
}
            /* RESPONSIVE MOBILE*/
            
@media only screen and (max-width: 667px)
{
               
    #main{
        margin: 10px;
    }
            
    h2{
        font-size: 1.4rem;
    }

    header{
        margin: 0;
        flex-direction: column;
    }

    .logo{
        margin-left: 20px;
    }

    .signUp{
        align-self: flex-end;
        padding: 0;
        margin-right: 20px;
        position: relative;
        bottom: 30px;
    }

    nav{
        order:3;
    }

    nav ul{
        width: 100%;
    }

    nav li{
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }
    nav li a .hotel{
        border-bottom: 3px solid #0065FC;
        padding-bottom: 3px solid #0065FC;
    }
    nav li a{
        padding: inherit;
    }

    nav li a:hover{
        border-top: none;
    }

    nav li:hover{
        border-bottom-color:#0065FC;
    }

    .search{
        margin: 30px 20px;
    }

    .searchInput{
        flex: 1;
    }

    .searchBar{
        margin: 35px 0 30px;
    }

    .searchButton{
        position: relative;
        width: 50px;
        border-radius: 15px;
        left: -20px;
    }

    .searchButton span{
        display: none;
    }

    .searchButton i{
        display: inline-block;
    }

    .textFilter{
        margin-left: 20px;
        margin-bottom: 12px;
    }

    .filters{
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding: 20px 0;
        margin-bottom: 12px;
        margin-left: -25px;
        flex-flow: row wrap;
    }

    .containerHotels{
        display: flex;
        flex-direction: column-reverse;
    }

    .cadreHotel{
        height: 200px;
    }

    .hotels{
        padding: 0 20px;
        background-color: initial;
        margin-bottom: 50px;
    }

    .Tabhotels{
        grid-template: repeat(6, 1fr) / 1fr;
        gap: 15px;
    }

    .cadreHotel img{
        height: 116px;
    }

    .hotelDescription p{
        font-size: .9rem;
    }

    .populaire{
        margin-left: -5vw;
        border-radius: 0;
        padding: 40px 20px 30px;
        margin-bottom: 40px;
    }

    .iconePopulaire h2{
        margin: 20px 0 20px 20px;
    }
    .nomhotel{
        margin-top: 0;
    }
    .cadrePopulaire{
        width: 160px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    
    .iconePopulaire i{
        font-size: 1.4rem;
    }

    .Nomhotel{
        font-size: 1rem !important;
    }

    .descriptionPopulaire p{
        font-size: .9rem;
    }

    .descriptionPopulaire{
        margin: 0;
	    background-color: white;
        padding: 15px 10px 10px 20px;
    }

    .fa-star{
        font-size: .8rem !important;
        letter-spacing: 1px;
    }
    .activityCard{
        margin: 0 0 30px 0;
    }
    .cartesAct{
        display: flex;
        flex-direction: column;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        padding: 15px 15px;
    }

    .enTeteAct{
        margin: 10px 20px 50px;
    }

    .photoImg{
        height: 9rem;
    }

    footer{
        flex-direction: column;
        padding: 45px 30px;
    }

    footer div{
        padding: 0;
    }
}
/* Tablet version */
@media only screen and (max-width: 1024px){
    
    /* Search - Tablet */
    .main{
        margin-right: 10px;
        margin-left: 10px;
    }
    .searchBar{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .filters{
        flex-direction: column;
    }

    .textFilter{
        align-self: auto;
        margin-bottom: 15px;
    }

    .filter{
        margin: 0 1rem 1rem 0;
    }

    /* Popular - Tablet */
    .titlePopulaire{
        margin-left: -45px;
    }
    
    .iconePopulaire{
        justify-content: space-between;
        width: 100%;
    }
    .populaire{
        display: inline-block;
        margin: 10px 10px 10px 20px;
        background-color: white;
    }

    .cadrePopulaire{
        width: 110%;
        position: relative;
        left: -50px;
        display: flex;
    }

    .descriptionPopulaire .Nomhotel{
        font-size: 1.4rem;
    }

    .descriptionPopulaire p{
        font-size: 1.2rem;
    }

    .descriptionPopulaire .fa-star{
        font-size: 1rem;
    }

    /* Hotels - Tablet */
    
    .hotels{
       width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%); /*centré dans l'élément parent*/
        margin-bottom: 20px;
        border-radius: 0;
        background-color: #fff;
    }

    .containerHotels{
        flex-direction: column;
    }

    /* Activities - Tablet */
    .activity {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        margin-top: 24px;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
    }
    .activityCard {
        height: 250px;
        width: 300px;
    }

    /* Footer - Tablet */

    footer div{
        padding: 10px;
    }
}

            
